<br><br><br>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Enter Table name</h4>
			</div>
			<form [formGroup]="form">
				<div class="modal-body">
					<div class="md-form md-outline">
						<input mdbInput mdbValidate formControlName="name" type="text" [(ngModel)]="tableName"
							class="form-control mb-4" placeholder="Table Name">
					</div>

					<div class="row justify-content-center">
						<button class="btn " (click)="addTable();basicModal.hide()"
							style="margin-top: 5%; width: 50%;color: black" [disabled]="form.invalid">Submit</button>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="basicModal.hide()" mdbWavesEffect>Close</button>
			</div>
		</div>
	</div>
</div>


<div mdbModal #objectModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Add Object</h4>
			</div>
			<form [formGroup]="form">
				<div class="modal-body">
					<div class="md-form md-outline">
						<button mdbBtn color="pink" (click)="addRectangle();objectModal.hide()">Rectangle</button>
						<button mdbBtn color="pink" (click)="addSquare();objectModal.hide()">Square</button>
						<button mdbBtn color="pink" (click)="addRound();objectModal.hide()">Round</button>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="objectModal.hide()" mdbWavesEffect>Close</button>
			</div>
		</div>
	</div>
</div>

<div mdbModal #confirm="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-notify modal-success" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Confirm</h4>
			</div>
			<form [formGroup]="form">
				<div class="modal-body">
					<div class="md-form md-outline">
						Are you sure
					</div>
				</div>
			</form>
			<div class="modal-footer justify-content-center">
					<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="sendBroadCastTable();confirm.hide()" mdbWavesEffect>Save</button>
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="confirm.hide()" mdbWavesEffect>Cancle</button>
			</div>
		</div>
	</div>
</div>


<section class="my-5">
	<div class="row">
		<div class="col-lg-3">
			<p style="margin-left: 20%;">Guest List</p>
			<div cdkDropList class="example-list z-depth-1">
				<div class="example-box" *ngFor="let guest of guests" mwlDraggable dragActiveClass="drag-active"
					[dropData]=guest cdkDragBoundary=".example-boundary">
					<p>
						<mdb-icon fas icon="male" size="3x" class="red-text pr-2 ml-3" aria-hidden="true"></mdb-icon>
						{{guest.guestName}} {{guest.guestType}}
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-8">
			<div class="example-boundary">

				<div class="tablePlan" *ngFor="let table of BigArray" cdkDrag mwlDroppable
					dragOverClass="drop-over-active" (drop)="onDrop($event,table[0])"
					cdkDragBoundary=".example-boundary">
					Table {{table[0]}}<br>
					{{table[1]}}
				</div>


				<div class="rectangle" *ngFor="let rec of rectangles" cdkDrag cdkDragBoundary=".example-boundary">
					<br>
				</div>

				<div class="square" *ngFor="let sqe of squares" cdkDrag dragOverClass="drop-over-active"
					cdkDragBoundary=".example-boundary">
					<br>
				</div>

				<div class="round" *ngFor="let rou of rounds" cdkDrag dragOverClass="drop-over-active"
					cdkDragBoundary=".example-boundary">
					<br>
				</div>

			</div>


			<button mdbBtn color="pink" size="m" (click)="basicModal.show()" style="margin-left: 35%;">Add</button>
			<button mdbBtn color="pink" size="m" (click)="objectModal.show()">Add Object</button><br>
			<!-- <button   mdbBtn color="pink" size="m" (click)="deleteTable()">Delete</button> -->

			<table mdbTable class="table table-hover table-fixed " bordered="true">
				<thead>
					<tr>
						<th class="text-center">Table Name</th>
						<th class="text-center">Table Number</th>
						<th class="text-center">Table Name</th>
						<th class="text-center" colspan="2">Guests</th>
					</tr>
				</thead>
				<tbody>
					<tr mdbTableCol *ngFor="let some of BigArray">

						<th scope="row">
							<mdb-icon fas icon="edit" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
							Table {{some[0]}}
							<button mdbBtn mdbWavesEffect color="indigo" size="m"
								(click)="removeTable(some ,BigArray)">Remove</button>
						</th>

						<td *ngFor="let so of some" class="text-center">
							{{so}}
						</td>

						<td>
							<span *ngFor="let so of some[2]" class="text-center">
								<p>{{so[0]}}
									<a mdbBtn floating="true" size="lg"
										(click)="removeGuestFromTable(so,BigArray,some[0])">
										<mdb-icon fas icon="trash-alt"></mdb-icon>
									</a>
								</p>
							</span>
						</td>

					</tr>
					

				</tbody>
			</table>

			<button mdbBtn color="red" size="m" (click)="confirm.show()"
				style="width: 50%;margin-left: 25%">Send</button>
		</div>
	</div>
</section>