<head>
		<script type="text/javascript" src="html2canvas-master/dist/html2canvas.js"></script>
	</head>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Enter Table name</h4>
			</div>
			<form [formGroup]="form">
				<div class="modal-body">
					<div class="md-form md-outline">
						<input mdbInput mdbValidate formControlName="name" type="text" [(ngModel)]="tableName"
							class="form-control mb-4" placeholder="Table Name">
					</div>
					<div class="md-form md-outline">
							<h5> Color</h5>
							<select mdbInput mdbValidate formControlName="color" class="browser-default custom-select" [(ngModel)]="color" >
								<option value="#b3c8d3">Blue</option>
								<option value="#b3d3be">Green</option>
								<option value="#D3B3B8" selected>Pink</option>
								<option value="#b3b8d3">Purple</option>
							  </select>
					</div>
				</div>
			<div class="modal-footer justify-content-center">
					<button type="button" mdbBtn  color="light" class="waves-light"  mdbWavesEffect (click)="addTable();basicModal.hide()"
					[disabled]="form.invalid" style="width: 50%;">Submit</button>
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="basicModal.hide()" mdbWavesEffect>Close</button>
			</div>
		</form>
		</div>
	</div>
</div>



<div mdbModal #objectModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Add Object</h4>
			</div>
			<form [formGroup]="Objectform">
				<div class="modal-body">
					<div class="md-form md-outline">
							<div class="md-form md-outline">
									<input mdbInput mdbValidate formControlName="objectName" type="text" [(ngModel)]="objectName"
										class="form-control mb-4" placeholder="Object Name">
								</div>
					</div>
					<div class="md-form md-outline">
						<h5> Color</h5>
						<select mdbInput mdbValidate formControlName="objectColor" class="browser-default custom-select" [(ngModel)]="objectColor" >
							<option value="#b3c8d3">Blue</option>
							<option value="#b3d3be">Green</option>
							<option value="#D3B3B8" selected>Pink</option>
							<option value="#b3b8d3">Purple</option>
						  </select>
				</div>
				</div>
			<div class="modal-footer justify-content-center">
					<button mdbBtn color="pink" (click)="addObject();objectModal.hide()" [disabled]="Objectform.invalid">Submit</button>

				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="objectModal.hide()" mdbWavesEffect>Close</button>
			</div>
		</form>
		</div>
	</div>
</div>


<div mdbModal #confirm="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-notify modal-success" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Confirm</h4>
			</div>
			<form [formGroup]="form">
				<div class="modal-body">
					<div class="md-form md-outline">
						Are you sure
					</div>
				</div>
			</form>
			<div class="modal-footer justify-content-center">
					<button type="button" mdbBtn class="waves-light  rgba-blue-light" aria-label="Close"
					(click)="sendBroadCastTable();confirm.hide()" mdbWavesEffect>Save</button>
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="confirm.hide()" mdbWavesEffect>Cancle</button>
			</div>
		</div>
	</div>
</div>				

<section class="my-5  wow slideInUp">
	<div class="row">
		<div class="col-sm-3 text-center" style="padding-left: 5%;">
			<p >Guest List</p>
			<div cdkDropList class="guestBox z-depth-1">
				<div class="example-box" *ngFor="let guest of guests" mwlDraggable dragActiveClass="drag-active"
					[dropData]=guest cdkDragBoundary=".example-boundary">
					<p class="text-center">
						<mdb-icon fas icon="male" size="2x" class="blue-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestType == 'Bride'"></mdb-icon>
						<mdb-icon fas icon="male" size="2x" class="red-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestType == 'Groom'"></mdb-icon>
						{{guest.guestName}} : {{guest.guestType}} : {{guest.guestRelationship}}
					</p>
				</div>
			</div>

			<table  mdbTable class="table table-sm styleObj  wow slideInUp" bordered="true" >
					<thead class=" rgba-blue-strong white-text">
						<tr>
							<th class="text-center">Object</th>
						</tr>
					</thead>
					<tbody>
						<tr mdbTableCol *ngFor="let obj of ObjectArray" class="text-center">
							<th scope="row" style=" font-size: 70%;">
								<mdb-icon fas icon="edit" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
								Object "{{obj[0]}}""

								<a mdbBtn floating="true" size="s"
								(click)="removeObject(obj,ObjectArray)">
										<mdb-icon  fas icon="trash-alt" size="m" class="red-text pr-3"></mdb-icon>
									</a>

							</th>
	
						</tr>
						
	
					</tbody>
				</table>
		</div>
		
		<div class="col-sm-6  wow slideInUp" >
			<div class="container"  #screen>
			<div class="example-boundary">
				<div class="tablePlan" *ngFor="let table of TableArray" cdkDrag mwlDroppable
					dragOverClass="drop-over-active" (drop)="onDrop($event,table)"
					cdkDragBoundary=".example-boundary" ngResizable [ngStyle]="{'background': table[3]}">
					Table
					{{table[1]}}

					<mdb-icon fas icon="male" size="2x" *ngFor="let t of table[2]" style="padding-left: 5px"></mdb-icon>
				</div>
				<div class="object" *ngFor="let obj of ObjectArray" cdkDrag cdkDragBoundary=".example-boundary" ngResizable [ngStyle]="{'background': obj[1]}">
					{{obj[0]}}
				</div>

		</div>
		</div>

			<table mdbTable class="table table-sm  wow slideInUp" bordered="true" style="margin-top : 3%">
				<thead class="rgba-blue-strong white-text">
					<tr>
						<th class="text-center">Table Name</th>
						<th class="text-center">Guests</th>
					</tr>
				</thead>
				<tbody>
					<tr mdbTableCol *ngFor="let some of TableArray">

						<th scope="row" class="text-center">
							Table {{some[1]}}
							<mdb-icon (click)="removeTable(some ,TableArray)" fas icon="trash-alt" size="1x" class="red-text pr-3"></mdb-icon>
						</th>

						<td class="text-center"> 
							<span *ngFor="let so of some[2]" class="text-center">
								<p>{{so[0]}}
									<a mdbBtn floating="true" size="s"
										(click)="removeGuestFromTable(so,TableArray,some[0],some)">
										<mdb-icon fas icon="trash-alt" class="red-text"></mdb-icon>
									</a>
								</p>
							</span>
						</td>

					</tr>
				</tbody>
			</table>
		 <!-- <div class="container text-center">
			<button mdbBtn color="red" size="m" (click)="confirm.show()" rounded="true" outline="true">Send</button>
				<button mdbBtn color="pink" size="m" (click)="screenshot()" rounded="true" outline="true">Take screenshot</button>
				</div> -->
		</div>
		<div class="col-sm-3 text-center">
		<button mdbBtn class="rgba-blue-strong wow slideInUp" size="m" (click)="basicModal.show()" style="width: 50%" data-wow-duration="1s" data-wow-delay="0.2s">Add Table</button><br>
		<button mdbBtn class="rgba-blue-strong wow slideInUp" size="m" (click)="objectModal.show()" style="width: 50%"  data-wow-duration="1s" data-wow-delay="0.5s">Add Object</button>
	    <button mdbBtn class="blue wow slideInUp" size="lg" (click)="confirm.show()" style="width: 50%"  data-wow-duration="1s" data-wow-delay="0.7s">Send</button>
		</div>
	</div>
	
	<div id="download" hidden>
		<img #canvas>
		<a #downloadLink></a>
	</div>
</section>
