.form {
    margin-top: 130px;
    color: #020701;
    position: fixed;
    margin-left: 4%;
    display: block;
    background-color:whitesmoke;
    padding : 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
  }