<div class="container animated fadeIn"  style="width: 60%">
  <div class="form">

    <div class="md-form md-outline">
      <textarea type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput></textarea>
      <label for="form75">Message</label>
    </div>

    <label>Upload Image</label>
    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput><br>
  <button (click)="fileInput.click()">Select File</button>
  <button (click)="onUpload()">Upload!</button>
    
        <div class="row justify-content-center">
            <button class="btn " (click)="submit()" style="margin-top: 5%; width: 100%;color: black">Submit</button>
        </div>
  </div>
  </div>
