<div class="container" style="width: 30%">
  <div class="form">

      <select class="selectpicker" multiple data-live-search="true">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </select>

      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Message</span>
          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="row justify-content-center">
            <button class="btn " (click)="submit()" style="margin-top: 5%; width: 100%;color: black">Submit</button>
        </div>
  </div>
  </div>
