
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Broadcast Message</h4>
          </div>
          <div class="modal-body">
                  <div class="md-form md-outline">
                    <textarea [(ngModel)]="message" type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput required></textarea>
                    <label for="form75">Message</label>
                  </div>
              
                      <div class="row justify-content-center">
                          <button class="btn " (click)="submit()" style="margin-top: 5%; width: 100%;color: black">Submit</button>
                      </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          </div>
        </div>
      </div>
    </div>

    
  <div mdbModal #picture="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-1000" id="myModalLabel">Broadcast Picture</h4>
          </div>
          <div class="modal-body">
              <div class="row justify-content-center">
                  <p>Upload Image</p>
                  <div class="container" *ngIf="downloadURL | async; let url">
                    <img [src]="url" alt="Image from AngularFireStorage">
                  </div>
              
                  <input style="display: none" type="file" (change)="upload($event)" #fileInput accept=".png,.jpg" required><br>
                  <div *ngIf="uploadProgress | async as pct">
                  <progress max="100" [value]="pct"></progress><br>
                  {{ pct | number }}%
                </div>
              
                <button (click)="fileInput.click()">Select File</button>
              </div>
                      <div class="row justify-content-center">
                          <button class="btn" (click)="submitPicture(randomId)" type="submit" style="margin-top: 5%; width: 100%;color: black" [disabled]="!uploadStatus == true">Submit</button>
                      </div>

          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="picture.hide()" mdbWavesEffect>Close</button>
          </div>
        </div>
      </div>
    </div>


<div class="container animated fadeIn"  style="width: 60%">
  <div class="form">
      <p class="h4 mb-4"> Select type of message</p>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Message</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="picture.show()" mdbWavesEffect>Picture</button>
  </div>
  </div>

  
