<body>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white ie-nav"  [containerInside]="true" id="mainNav">

      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="home">
        MARRY MARRIGE
        </a>
      </mdb-navbar-brand>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav  text-uppercase ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger"  routerLink="/home">
          Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger"  routerLink="/photo">
  
          Photo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger"  routerLink="/guest">
          Guest</a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  routerLink="/table">
            Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  routerLink="/history">
            History Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  routerLink="/broadcast">
              Broadcast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  routerLink="/contact">
              Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  routerLink="/wish">
              Wedding Wish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  routerLink="/admin">
              Edit</a>
          </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" >
          <mdb-icon fas icon="user"></mdb-icon> <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light"  (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>

    </div>
</mdb-navbar>
</body>

