.view {
    background: url("https://images.pexels.com/photos/916340/pexels-photo-916340.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")no-repeat center center;
    background-size: cover;
     height: 300px;
  }
  
  .btn{
      background-color: lightskyblue;
  }