.row {
    padding: 20%
}
button{
  width : 80px;
  background: none;
  border: 2px solid #ffbe47;
  color: white;
  padding: 5px;
}
button:hover {
  background: #fff;
  color:  rgba(228, 169, 169, 0.918);
  border: 2px solid  rgba(228, 169, 169, 0.918);
 }
body{
  background-color:rgba(228, 169, 169, 0.918);
}

