@import url(https://fonts.googleapis.com/css?family=Quicksand:400);

.view {
    background: url("https://images.pexels.com/photos/1410226/pexels-photo-1410226.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")no-repeat center center;
    background-size: cover;
     height: 500px;
  }

  .container{
    font-family: 'Quicksand', Arial, sans serif;
  }

.row {
    padding: 2%
}
