<div class="container">
  <div class="row justify-content-center">
    <h2 >Guest</h2>
  </div>
  <table class="table table-striped table-bordered table-dark">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">Guest name</th>
        <th scope="col">Guest type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests">
        <td style="vertical-align: middle;">{{guest.guestName}}</td>
        <td style="text-align: left;" style="width: 70%">
          <div class="col">Project status: {{guest.guestType}}</div>
          <div class="col">Project Objective: {{guest.guestId}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
