
<div class="container" >
  <div class="row justify-content-center ">
    <h2 >Guest</h2>
  </div>
  <table class="table table-striped">
    <thead class="rgba-blue-slight">
      <tr >
        <th scope="col"><h5>Guest name</h5></th>
        <th scope="col"><h5>Guest type</h5></th>
        <th scope="col"><h5>From</h5></th>
        <th scope="col"><h5>Invitation Status</h5></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests">
        <td>{{guest.guestName}}</td>
        <td>        <mdb-icon fas icon="male" size="2x" class="blue-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestType == 'Bride'"></mdb-icon>
          <mdb-icon fas icon="male" size="2x" class="red-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestType == 'Groom'"></mdb-icon>{{guest.guestType}}</td>
        <td>{{guest.guestRelationship}}</td>
        <td>   <mdb-icon fas icon="check" size="2x" class="blue-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestAcceptance == 'Accept invitation'"></mdb-icon>
          <mdb-icon fas icon="question" size="2x" class="red-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestAcceptance == 'Not sure invitation'"></mdb-icon>
          <mdb-icon fas icon="times" size="2x" class="red-text pr-2 ml-2" aria-hidden="true" *ngIf="guest.guestAcceptance == 'Reject invitation'"></mdb-icon>
          {{guest.guestAcceptance}}
        <button mdbBtn class="rgba-blue-strong" size="sm" mdbWavesEffect type="button" (click)="confirm.show()" style="width: 50%" *ngIf="guest.guestAcceptance == 'Not sure invitation' || guest.guestAcceptance == 'Pending' ">Message</button></td>
      </tr>
    </tbody>
  </table>

  <div mdbModal #confirm="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-notify modal-success" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Confirm acception</h4>
			</div>
			<form [formGroup]="form">
				<div class="modal-body">
					<div class="md-form md-outline">
						Are you sure for ask your guest agian?
					</div>
				</div>
			</form>
			<div class="modal-footer justify-content-center">
					<button type="button" mdbBtn class="waves-light  rgba-blue-light" aria-label="Close"
					(click)="sendBroadCastAcception();confirm.hide()" mdbWavesEffect>Sure</button>
				<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
					(click)="confirm.hide()" mdbWavesEffect>Cancle</button>
			</div>
		</div>
	</div>
</div>

</div>

