

<div class="container" style="margin-top: 50px">
  <table mdbTable striped="true">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let item of items | async">
        <th scope="row"> </th>
        <img class="d-block w-1 h-1" [src]='item.path'>
        <td>{{item.name}}</td>
        <td>
            <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" >Download</button>
          <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="click(item.name,item.path)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
