<header class="masthead">
    <div class="intro-text">
<div class="view intro-2">
  <div class="full-bg-img">
    <div class=" rgba-black-light flex-center">
      <div class="col-md-6 col-sm-12">
        <div class="white-text wow fadeInDown"  data-wow-delay="0.3s" style="margin-left: 40px;">
          <div class="intro-lead-in">Wedding Management</div>
          <div class="intro-heading text-uppercase">Marry Marrige</div>
          <p>Line Chatbot For Wedding Management</p>
        </div>
      </div>
      <div class="wow slideInUp hidden-xs hidden-sm overlay zoom" data-wow-duration="2s" data-wow-delay="0.5s">
        <img src="assets/uploads/app_iphone_01.png" alt="" class="img-fluid" style="margin-top: 125px;" >
    </div>
    </div>
  </div>
</div>
</div>
</header>

<hr class="mb-5">

<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">How to use</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">This project is design for the bride and groom to gather the infomration of the guests by using the chatbot.
      All of the information can use in the website to manage the wedding event.
    </p>
  
    <!-- Grid row -->
    <div class="row justify-content-center">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto ">
            <mdb-icon fas icon="robot" size="4x" class="blue-text pr-2 ml-2 " aria-hidden="true"></mdb-icon>
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Chatbot</h5>
        <p class="text-uppercase blue-text">
          <strong>Central Communicate</strong>
        </p>
        <p class="grey-text">Using the chatbot to gather all of the information of the guests
          It's also can send the message to all of the user.
        </p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
            <mdb-icon fas icon="mobile" size="4x" class="blue-text pr-2 ml-2" aria-hidden="true"></mdb-icon>
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Line application</h5>
        <p class="text-uppercase blue-text">
          <strong>Application</strong>
        </p>
        <p class="grey-text">LINE is by far the most popular messenger app in Thailand</p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
            <mdb-icon fas icon="clipboard-list" size="4x" class="blue-text pr-2 ml-2" aria-hidden="true"></mdb-icon>
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Organize</h5>
        <p class="text-uppercase blue-text">
          <strong>Manage the wedding</strong>
        </p>
        <p class="grey-text">This project will help you to organize the wedding event more easy</p>
      </div>
    </div>
  </section>

<section class="view2 wow fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <h5 class="heading display-4">Guest Infomation</h5>
          <p class="subheading font-weight-bold">We will gather all of the information about the guest that will paticipate with your wedding day</p>
              <button type="button" mdbBtn color="lily" rounded="true" class="rgba-blue-strong">Get started <i class="fas fa-caret-right ml-3"></i></button>
        </div>
      </div>

      <div class="col-md-6">

        <div class="view1">
          <!-- <img src="http://www.worabura.com/asset/images/experience/wedding/wedding_package/wedding-_package_01.jpg" class="img-fluid wow fadeInUp hoverable" alt="smaple image"> -->
          <div class="flip flip-vertical">
              <div class="front" style="background-image: url(http://www.worabura.com/asset/images/experience/wedding/wedding_package/wedding-_package_01.jpg)">
              </div>
              <div class="back justify-content-center text-center">
                 <h2>Guest Information</h2>
                 <p>Including Guest name , Guest type , Guest Relationship</p>
              </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section class="view1 wow fadeIn">

      <div class="row">
  
        <div class="col-md-6">
               <div class="view1">
            <!-- <img src="https://d2nysvt2e2u12u.cloudfront.net/img/760x530_Wedding_Album99_hires_2.jpg" class="img-fluid  wow fadeInUp hoverable" alt="smaple image"> -->
            <div class="flip flip-vertical">
                <div class="front" style="background-image: url(https://d2nysvt2e2u12u.cloudfront.net/img/760x530_Wedding_Album99_hires_2.jpg)">
                </div>
                <div class="back justify-content-center text-center">
                   <h2>Guest Information</h2>
                   <p>Including Guest name , Guest type , Guest Relationship</p>
                </div>
            </div>
          </div>

        </div>
  
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h4 class="heading display-3">Photo Album</h4>
                <p class="subheading font-weight-bold">We will gather all of the information about the guest that will paticipate with your wedding day</p>
                <button type="button" mdbBtn color="lily" rounded="true" class="rgba-blue-strong">Get started <i class="fas fa-caret-right ml-3"></i></button>
              </div>
      
        </div>
  
      </div>
  
    </section>

    <section class="view2 wow fadeIn">

        <div class="row">
    
          <div class="col-md-6">
    
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <h4 class="heading display-3">Wedding Wish</h4>
              <p class="subheading font-weight-bold">We will gather all of the information about the guest that will paticipate with your wedding day</p>
              <button type="button" mdbBtn color="lily" rounded="true" class="rgba-blue-strong">Get started <i class="fas fa-caret-right ml-3"></i></button>
            </div>
    
          </div>
    
          <div class="col-md-6">
    
            <div class="view1">
              <!-- <img src="https://photobugcommunity.com/wp-content/uploads/2018/09/top-pics-of-the-week-9-28-18-2-700x467.jpg" class="img-fluid  wow fadeInUp hoverable" alt="smaple image"> -->
              <div class="flip flip-vertical">
                  <div class="front" style="background-image: url(https://photobugcommunity.com/wp-content/uploads/2018/09/top-pics-of-the-week-9-28-18-2-700x467.jpg)">
                  </div>
                  <div class="back justify-content-center text-center">
                     <h2>Guest Information</h2>
                     <p>Including Guest name , Guest type , Guest Relationship</p>
                  </div>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </section>


